@import './colors';
@import './gradient';

.bg-primary-gradient {
  background: linear-gradient(to right, $primary-color, lighten($primary-color, 5%));
}

.bg-light-red-gradient {
  background: linear-gradient(to right, $light-red, lighten($light-red, 5%));
}

.bg-light-green-gradient {
  background: linear-gradient(to right, $light-green, lighten($light-green, 5%));
}

.bg-light-purple-gradient {
  background: linear-gradient(to right, $light-purple, lighten($light-purple, 5%));
}

.bg-teal-gradient {
  background: linear-gradient(to right, $teal, lighten($teal, 5%));
}

.custom-bg-black {
  background: $black;
}

.bg-custom-blue-gradient {
  background: linear-gradient(to right, $custom-blue, lighten($custom-blue, 5%));
}