$black: #000;
$white: #fff;
$primary-color: #1e6d95;
$primary-color: #2077a3;
$secondary-color: /*#951e46*/ /*#2943A0*/ /*#25519C*/#a58626;
$secondary-color: #9e8740;
$tertiary-color: /*#951e46*/ /*#2943A0*/ #a04c43;
$main-background-color: /*#e0dac9*/ #e3e8ea;
$main-background-color: #e2ded0;
$main-background-color: #ede9dc;
$main-background-color: lighten($secondary-color, 50);