$black: #000;
$primary-color: #2a3f54;
$secondary-color: #73879c;
$main-background-color: #F8F8F8;
$light-text-color: #f7f7f7;
$dark-red: #941b02;
$light-red: #aa3939;
$dark-green: #4f9106;
$light-green: #60d3ad;
$dark-yellow: #a18f07;
$light-yellow: #cbb618;
$dark-purple: #400c6c;
$light-purple: #551889;
$teal: #02565a;