@import 'styles/shared.scss';

.NavbarItemCollapsible .nav-child-item {
  background: darken($primary-color, 10%);
  padding: .5rem 1rem;
  display: block;
  color: darken(#fff, 20%);
  text-decoration: none;
  white-space: nowrap;
}

.NavbarItemCollapsible .nav-child-item:hover {
  background-color: lighten($primary-color, 20%);
}

.NavbarItemCollapsible .nav-child-item.active {
  color: #4e73df;
  font-weight: bold;
}