.NavbarItem.nav-item .nav-link {
    font-weight: bold;
    text-align: center;
    color: #fff;
    opacity: 0.8;
}

.NavbarItem.nav-item .nav-link:hover,
.NavbarItem.nav-item .nav-link.active {
    color: #fff;
    opacity: 1;
}

.NavbarItem hr {
    border-top: 1px solid rgba(255,255,255,.15);
    margin: 0 1rem 0rem;
}