@import 'styles/shared.scss';

.NavbarItem.nav-item .nav-link {
  text-align: center;
  color: $grey;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  display: block;
  align-items: center;
}

.NavbarItem.nav-item .nav-link:hover,
.NavbarItem.nav-item .nav-link.active {
  color: $white;
  background-color: lighten($custom-blue, 10);
  opacity: 1;
}

.NavbarItem hr {
  border-top: 1px solid rgba(255, 255, 255, .15);
  margin: 0;
}