@import 'styles/shared.scss';

.NavbarItem.nav-item .nav-link {
  text-align: center;
  color: $white;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  display: block;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: darken($primary-color, 10);
}

.NavbarItem.nav-item .nav-link:hover,
.NavbarItem.nav-item .nav-link.active {
  color: $white;
  background-color: lighten($primary-color, 10);
  opacity: 1;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: lighten($primary-color, 25);
}

.NavbarItem hr {
  border-top: 1px solid darken($primary-color, 10);
  margin: 0;
}