@import 'styles/shared.scss';

.NavbarItem.nav-item .nav-link {
  text-align: center;
  color: $grey;
  opacity: 0.6;
  transition: all 0.5s ease;
  font-weight: bold;
  display: block;
  align-items: center;
}

.NavbarItem.nav-item .nav-link:hover,
.NavbarItem.nav-item .nav-link.active {
  color: $grey;
  opacity: 1;
}

.NavbarItem.nav-item .nav-link.active {
  @include linear-gradient(to bottom, darken($custom-blue, 0), darken($custom-blue, 25));
}

.NavbarItem hr {
  border-top: 1px solid rgba(255, 255, 255, .15);
  margin: 0;
}