@import 'styles/shared.scss';

.AjaxTable {
  .page-link {
      //color: #DFF0D8;
    background-color: $black;
    color: $grey;
    border-color: $black;
    box-shadow: none !important;
    font-weight: bold;
    margin: 1px;
  }
}

.AjaxTable .page-link.active,
.AjaxTable .page-link:hover {
  background-color: $black;
  color: lighten($custom-red, 10);
  border-color: lighten($custom-red, 10);
}

.AjaxTable .page-item.disabled .page-link {
  background-color: $black;
  color: lighten($custom-red, 10);
  border-color: lighten($custom-red, 10);
}

.AjaxTable .external-url {
  overflow: hidden;
  transition: all 0.5s ease;
}

.AjaxTable .external-url:hover {
  cursor: pointer;
  transform: scale(2);
  color: lighten($custom-red, 10);
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}