@import 'styles/shared.scss';

.DataTableCard .page-link {
  color: $teal;
}

.DataTableCard .page-link.active,
.DataTableCard .page-link:hover {
  font-weight: bold;
  color: $light-red;
}

.DataTableCard .external-url {
  overflow: hidden;
  transition: all 0.5s ease;
}

.DataTableCard .external-url:hover {
  cursor: pointer;
  color: $light-red;
  transform: scale(2);
}