@import 'styles/shared.scss';

.DataTableCard .page-link {
  color: $teal;
}

.DataTableCard .page-link.active,
.DataTableCard .page-link:hover {
  font-weight: bold;
  color: $light-red;
}

.DataTableCard .external-url {
  overflow: hidden;
  transition: all 0.5s ease;
}

.DataTableCard .external-url:hover {
  cursor: pointer;
  color: $light-red;
  transform: scale(2);
}

.DataTableCard .card-header {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.DataTableCard .card-footer {
  background-color: $primary-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}