@import 'styles/shared.scss';

.DataTableCard {
  .page-link {
      //color: #DFF0D8;
    background-color: $black;
    color: $grey;
    border-color: $black;
    box-shadow: none !important;
    font-weight: bold;
    margin: 1px;
  }
}

.DataTableCard .page-link.active,
.DataTableCard .page-link:hover {
  background-color: $black;
  color: lighten($custom-red, 10);
  border-color: lighten($custom-red, 10);
}

.DataTableCard .page-item.disabled .page-link {
  background-color: $black;
  color: lighten($custom-red, 10);
  border-color: lighten($custom-red, 10);
}

.DataTableCard .external-url {
  overflow: hidden;
  transition: all 0.5s ease;
}

.DataTableCard .external-url:hover {
  cursor: pointer;
  transform: scale(2);
  color: lighten($custom-red, 10);
}